<!------------------------------------------- Sidebar start---------------------------------------------->
<div class="wrapper d-flex align-items-stretch">
  <app-admin-left-panel></app-admin-left-panel>
  <!------------------------------------------- Sidebar end---------------------------------------------->

  <!------------------------------------------ bodyheader start ----------------------------------------->
  <div id="content" style="overflow-y: auto; overflow-x: hidden">
    <!-- class="p-4 p-md-5 "-->
    <nav class="navbar navbar-expand-lg p-3" id="bodyheader1">
      <div class="container-fluid">
        <button
          class="btn btn-dark d-inline-block d-lg-none ml-auto"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fa fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="col-md-2">
            <a
              class="navbar-brand"
              id="bodyheadertxt"
              style="cursor: pointer"
              [ngClass]="this.delegate ? 'active-col-list' : ''"
              (click)="getDelegatePieChart(); getDelegateRefrenceChart()"
              >Delegate
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
            </a>
          </div>
          <div class="col-md-2">
            <a
              class="navbar-brand"
              style="cursor: pointer"
              [ngClass]="this.partner ? 'active-col-list' : ''"
              (click)="getPartnerPieChart(); getPartnerRefrenceChart()"
              id="bodyheadertxt"
              >Partners
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
            </a>
          </div>
          <div class="col-md-2">
            <a
              class="navbar-brand"
              style="cursor: pointer"
              id="bodyheadertxt"
              [ngClass]="this.speaker ? 'active-col-list' : ''"
              (click)="getSpeakerPieChart(); getSpeakerRefrenceChart()"
              >Speakers
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
            </a>
          </div>
          <!-- <div class="col-md-6"></div> -->
          <div class="col-md-2">
            <a
              class="navbar-brand"
              routerLink="/dashboard/joinmailinglist"
              id="bodyheadertxt"
              [ngClass]="this.joinmailing ? 'active-col-list' : ''"
              >Join Mailing List</a
            >
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <div class="col-md-2">
            <a
              class="navbar-brand"
              routerLink="/dashboard/broucher"
              id="bodyheadertxt"
              style="margin-left: 31px"
              [ngClass]="this.broucher ? 'active-col-list' : ''"
              >Broucher</a
            >
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>

          <div class="col-md-2">
            <a
              class="navbar-brand"
              routerLink="/dashboard/sales-broucher"
              id="bodyheadertxt"
              [ngClass]="this.salesbroucher ? 'active-col-list' : ''"
              >Sales Broucher</a
            >
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>
      </div>
    </nav>
    <!------------------------------------------ bodyheader end ---------------------------------------->

    <!------------------------------------------ Page Content -------------------------------------------->
    <div id="pagecontent" style="padding: 1%">
      <h3 class="mb-4">
        <img src="assets/img/speedmeter1.png" id="speedmeter" /> Dashboard
      </h3>
      <div class="row">
        <div class="col-md-6">
          <div class="card" style="padding: 15px">
            <h4 style="cursor: pointer">Total Registration</h4>
            <div class="graph">
              <canvas
                id="pieChart"
                style="width: 100px; height: 200px"
              ></canvas>
            </div>
            <!-- <p><a  id="view_graph" style="cursor: pointer;">View List <br> </a></p> -->
          </div>
        </div>

        <div class="col-md-6">
          <div class="card" style="padding: 15px">
            <h4 style="cursor: pointer">Registration By Reference</h4>
            <div class="graph">
              <canvas
                id="donutChart"
                style="width: 100px; height: 200px"
              ></canvas>
            </div>
            <!-- <p><a  id="view_graph" style="cursor: pointer;">View More</a></p> -->
          </div>
        </div>

        <div class="col-md-12 mt-3">
          <div class="card" style="padding: 15px">
            <h4 style="cursor: pointer">
              User Register Per Day({{ value }} Registration)
            </h4>
            <br />
            <!-- <canvas id="LineChart"></canvas> -->

            <canvasjs-chart
              *ngIf="bargraph"
              [options]="chartoption2"
              [styles]="{ width: '100%', height: '360px' }"
            ></canvasjs-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!------------------------------------------- Page Content end ----------------------------------------->
</div>
