<!-------------------------------------------- header start ---------------------------------------------->

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="col-md-10">
      <a class="navbar-brand" routerLink="/dashboard" style="width: 200px"
        ><img src="assets/images/PharmaConnectLogo.png" style="width: 70%"
      /></a>
      <button
        type="button"
        id="sidebarCollapse"
        class="btn"
        style="margin-left: -60px"
        data-toggle="collapse"
        data-target="#sidebar"
        aria-controls="sidebar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <img src="assets/img/Group 6.png" alt="" />
        <span class="sr-only">Toggle Menu</span>
      </button>
    </div>
    <div class="col-md-2">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="btn" target="_blank" href="https://www.cylsys.com"
          ><img src="assets/img/MicrosoftTeams-image.png" alt=""
        /></a>
        <!-- <button type="button" class="btn"> -->
          <!-- <img src="assets/img/profileLogo.png" alt="" id="profileLogo" />
          <a
         style="cursor: pointer;text-decoration: underline;color: #093f41;"
         routerLink="/login"
        >Logout</a> -->
        <!-- </button> -->
        <!-- <div class="dropdown dropstart">
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
              <a
                class="dropdown-item"
                style="cursor: pointer"
                routerLink="/login"
              >
                <i class="bi bi-trash3-fill"></i> Logout</a
              >
            </li>
          </ul>
        </div> -->
      </div>
    </div>
  </div>
</nav>
