<!------------------------------------------- Sidebar start---------------------------------------------->
<div class="wrapper d-flex align-items-stretch">
  <app-admin-left-panel></app-admin-left-panel>
  <!------------------------------------------- Sidebar end---------------------------------------------->

  <!------------------------------------------ bodyheader start ----------------------------------------->
  <div id="content" style="overflow-y: auto; overflow-x: hidden">
    <!-- class="p-4 p-md-5 "-->

    <!------------------------------------------ bodyheader end ---------------------------------------->

    <!------------------------------------------ Page Content -------------------------------------------->
    <div class="container-fluid" id="pagecontent">
      <div class="col-md-12 px-0" style="margin-top: 25px">
        <img src="assets/images/user (1).png" id="userimg" />&nbsp; &nbsp;
        <h4 style="display: inline-flex">Collaborator</h4>
      </div>

      <div class="card" id="uppercard">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <form>
                    <div class="row">
                      <div class="col-md-3">
                        <select #mySelect (change)="onSelectionChange(mySelect.value)" class="form-control" aria-label="Default select example">
                          <option *ngFor="let option of rowOptions" [value]="option.value">{{ option.label }}</option>
                        </select>
                      </div>
                      <div class="col-md-9 d-flex">
                        <input
                        #searchInput
                      class="form-control"
                      type="search"
                      id="inputsearch"
                      placeholder="Search..."
                      aria-label="Search"
                    />
                    &nbsp; &nbsp;&nbsp;
                    <button class="btn" id="btncolor" (click)="onSearchClick(searchInput.value)">Search</button>
                    &nbsp; &nbsp;
                    <button class="btn" type="reset" (click)="onSearchClick('')" id="btncolor">
                      Reset
                    </button>
                      </div>
                    </div>
                    
                    
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-6" id="exportcolmd">
              <button class="btn" type="button" id="exportbtn" routerLink="/dashboard/add-collaborator">
                <i class="bi bi-plus"></i> Add Collaborator
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th (click)="onSort('full_name')">
                        Full Name <i class="bi bi-caret-down-fill"></i>
                      </th>
                      <th (click)="onSort('dob')">DOB <i class="bi bi-caret-down-fill"></i></th>
                      <th (click)="onSort('country')">Country <i class="bi bi-caret-down-fill"></i></th>
                      <th (click)="onSort('email')">E-mail</th>
                      <th (click)="onSort('mobile_no')">Mobile No.</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of collaborators">
                      <td>{{item.full_name}}</td>
                      <td>{{item.dob}}</td>
                      <td>{{item.country}}</td>
                      <td>{{item.email}}</td>
                      <td>{{item.mobile_no}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <nav aria-label="...">
                <ul class="pagination">
                  <li class="page-item " (click)="changePage(page - 1)" [disabled]="page === 1">
                    <span class="page-link">Previous</span>
                  </li>
                  <li class="page-item" *ngFor="let p of [].constructor(totalPages); let i = index" 
                  (click)="changePage(i + 1)" 
                  [class.active]="page === i + 1" >
                  <span class="page-link">{{ i + 1 }}</span>
                  </li>
                  <li class="page-item">
                    <a class="page-link" (click)="changePage(page + 1)" [disabled]="page === totalPages">Next</a>
                  </li>
                </ul>
              </nav>
              <!-- <h5 style="text-align: center">
    <span >No Data Found</span>
    </h5> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!------------------------------------------- Page Content end ----------------------------------------->
</div>
