<!------------------------------------------- Sidebar start---------------------------------------------->
<div class="wrapper d-flex align-items-stretch">
  <app-admin-left-panel></app-admin-left-panel>
  <!------------------------------------------- Sidebar end---------------------------------------------->

  <!------------------------------------------ bodyheader start ----------------------------------------->
  <div id="content" style="overflow-y: auto; overflow-x: hidden">
    <!-- class="p-4 p-md-5 "-->

    <!------------------------------------------ bodyheader end ---------------------------------------->

    <!------------------------------------------ Page Content -------------------------------------------->
    <div class="container-fluid" id="pagecontent">
      <div class="card" id="uppercard">
        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-12 border-bottom mb-3">
                <h4 style="display: inline-flex">{{title}} Sponsorship</h4>
              </div>
              <div class="col-md-6 mb-3">
                <label for="Sponsorship_Type" class="form-label">Sponsorship Type <span class="error text-danger">*</span>
                </label>
                <select class="form-control" formControlName="sponsorshipType" (change)="onSponsorshipTypeChange($event)">
                  <option value="">Select Sponsorship Type</option>
                  <option *ngFor="let sponsorshipType of sponsorshipTypes" [value]="sponsorshipType['id']" [attr.data-name]="sponsorshipType['name']">{{sponsorshipType['name'] | titlecase}}</option>
                </select>
                <div *ngIf="form.get('sponsorshipType').errors?.required && form.get('sponsorshipType').touched" class="error text-danger">
                  Sponsorship Type is required
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="SN" class="form-label">Sponsership Name <span class="error text-danger">*</span></label>
                <input type="text" formControlName="sponsorshipName" class="form-control" id="SN" aria-describedby="emailHelp">
                <div *ngIf="form.get('sponsorshipName').errors?.required && form.get('sponsorshipName').touched" class="error text-danger">
                  Sponsership Name is required
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="SN" class="form-label">POC Name <span class="error text-danger">*</span></label>
                <input type="text" formControlName="pocName" class="form-control" id="SN" aria-describedby="emailHelp">
                <div *ngIf="form.get('pocName').errors?.required && form.get('pocName').touched" class="error text-danger">
                  POC Name is required
                </div>
                <div *ngIf="form.get('pocName').errors?.pattern || form.get('pocName').errors?.leadingTrailingSpaces" class="error text-danger">
                  Only alphabets, number and spaces allowed with max length 50
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="PMN" class="form-label">POC Mobile No</label>
                <input type="text" formControlName="pocMobile" class="form-control" id="PMN" aria-describedby="emailHelp">
                <div *ngIf="form.get('pocMobile').errors?.pattern" class="error text-danger">
                  Invalid mobile number format (eg.+12345678901)
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="PE" class="form-label">POC Email</label>
                <input type="text" formControlName="pocEmail" class="form-control" id="PE" aria-describedby="emailHelp">
                <div *ngIf="form.get('pocEmail').errors?.pattern" class="error text-danger">
                  Invalid email format
                </div>
                <div *ngIf="form.get('pocEmail').errors?.maxlength" class="error text-danger">
                  Email cannot be longer than 254 characters.
                </div>
                
              </div>
              <div class="col-md-6 mb-3">
                <label for="Country" class="form-label">Country</label>
                <select formControlName="country" (change)="onCountryChange($event)" class="form-control" aria-label="Default select example">
                  <option value="0">Select Country</option>
                  <option *ngFor="let country of countries" [value]="country['id']" [attr.data-name]="country['name']">{{country['name']}}</option>
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <label for="State" class="form-label">State</label>
                <select formControlName="state" (change)="onStateChange($event)" class="form-control" aria-label="Default select example">
                  <option value="0">Select State</option>
                  <option *ngFor="let state of states" [value]="state['id']" [attr.data-name]="state['name']">{{state['name']}}</option>
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <label for="City" class="form-label">City</label>
                <select formControlName="city" (change)="onCityChange($event)" class="form-control" aria-label="Default select example">
                  <option value="0">Select City</option>
                  <option *ngFor="let city of cities" [value]="city['id']" [attr.data-name]="city['name']">{{city['name']}}</option>
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <label for="Address" class="form-label">Address</label>
                <input type="text" formControlName="address" class="form-control" id="Address" aria-describedby="emailHelp">
                <div *ngIf="form.get('address').errors?.pattern || form.get('address').errors?.leadingTrailingSpaces" class="error text-danger">
                  Enter correct address format with max length 100
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="Ref_by" class="form-label">Ref by</label>
                <select formControlName="refBy" (change)="onChangeReferBy($event)" class="form-control" aria-label="Default select example">
                  <option value="">Select Reference Type</option>
                  <option *ngFor="let option of refByOptions" [value]="option">{{option | titlecase}}</option>
                </select>
              </div>
              <div class="col-md-3 mb-3" *ngIf="form.get('refBy')?.value === 'peacekeeper'">
                <label for="Ref_by" class="form-label">Select Peacekeeper</label>
                <select formControlName="refPeacekeeper" (change)="onPeacekeeperChange($event)" class="form-control" aria-label="Default select example">
                  <option value="">Ref Peacekeeper</option>
                  <option *ngFor="let pk of peacekeepers" [value]="pk['peacekeeper_id']" [attr.data-name]="pk['full_name']">{{pk['full_name'] +'('+ pk['coupon_code'] + ')'}}</option>
                </select>
                <div *ngIf="form.get('refPeacekeeper').errors?.required && form.get('refPeacekeeper').touched" class="error text-danger">
                  Peacekeeper is required
                </div>
              </div>
              <div class="col-md-3 mb-3" *ngIf="form.get('refBy')?.value === 'other'">
                <label for="Name" class="form-label">Name</label>
                <input type="text" formControlName="name" class="form-control" id="Name" aria-describedby="emailHelp">
                <div *ngIf="form.get('name').errors?.required && form.get('name').touched" class="error text-danger">
                  Name is required
                </div>
                <div *ngIf="form.get('name').errors?.pattern || form.get('name').errors?.leadingTrailingSpaces" class="error text-danger">
                  Only alphabets, number and spaces allowed with max length 50
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-danger mx-3" (click)="onCancel()">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!------------------------------------------- Page Content end ----------------------------------------->
</div>
