<!------------------------------------------- Sidebar start---------------------------------------------->
<div class="wrapper d-flex align-items-stretch">
  <app-admin-left-panel></app-admin-left-panel>
  <!------------------------------------------- Sidebar end---------------------------------------------->

  <!------------------------------------------ bodyheader start ----------------------------------------->
  <div id="content" style="overflow-y: auto; overflow-x: hidden">
    <!-- class="p-4 p-md-5 "-->

    <!------------------------------------------ bodyheader end ---------------------------------------->

    <!------------------------------------------ Page Content -------------------------------------------->
    <div class="container-fluid" id="pagecontent">
      <div class="col-md-12 px-0" style="margin-top: 25px">
        <img src="assets/images/user (1).png" id="userimg" />&nbsp; &nbsp;
        <h4 style="display: inline-flex">Sponsor</h4>
      </div>

      <div class="card" id="uppercard">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <form>
                    <div class="row">
                      <div class="col-md-3">
                        <select #mySelect (change)="onSelectionChange(mySelect.value)"  style="cursor: pointer;" class="form-control" aria-label="Default select example">
                          <option *ngFor="let option of rowOptions" [value]="option.value">{{ option.label }}</option>
                        </select>
                      </div>
                      <div class="col-md-9 d-flex">
                        <input
                        #searchInput
                      class="form-control"
                      type="search"
                      id="inputsearch"
                      placeholder="Search..."
                      aria-label="Search"
                    />
                    &nbsp; &nbsp;&nbsp;
                    <button class="btn" id="btncolor" (click)="onSearchClick(searchInput.value)">Search</button>
                    &nbsp; &nbsp;
                    <button class="btn" type="reset" id="btncolor" (click)="onSearchClick('')">
                      Reset
                    </button>
                      </div>
                    </div>
                    
                    
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-6" id="exportcolmd">
              <button class="btn" type="button" id="exportbtn" routerLink="/dashboard/add-sponsor">
                <i class="bi bi-plus"></i> Add Sponsor
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table" *ngIf="sponsorships.length > 0 else noDataTemplate">
                  <thead>
                        <tr>
                          <th>#</th>
                          <th (click)="onSort('sponsorship_type')">
                            Sponsor Type 
                            <i class="bi bi-caret-up-fill" *ngIf="sortBy === 'sponsorship_type' && order === 'asc'"></i>
                            <i class="bi bi-caret-down-fill" *ngIf="sortBy === 'sponsorship_type' && order === 'desc'"></i>
                          </th>
                          <th (click)="onSort('sponsorship_name')">
                            Sponsor Name 
                            <i class="bi bi-caret-up-fill" *ngIf="sortBy === 'sponsorship_name' && order === 'asc'"></i>
                            <i class="bi bi-caret-down-fill" *ngIf="sortBy === 'sponsorship_name' && order === 'desc'"></i>
                          </th>
                          <th (click)="onSort('poc_name')">
                            POC Name 
                            <i class="bi bi-caret-up-fill" *ngIf="sortBy === 'poc_name' && order === 'asc'"></i>
                            <i class="bi bi-caret-down-fill" *ngIf="sortBy === 'poc_name' && order === 'desc'"></i>
                          </th>
                          <th (click)="onSort('poc_mobile')">
                            POC Mobile No. 
                            <i class="bi bi-caret-up-fill" *ngIf="sortBy === 'poc_mobile' && order === 'asc'"></i>
                            <i class="bi bi-caret-down-fill" *ngIf="sortBy === 'poc_mobile' && order === 'desc'"></i>
                          </th>
                          <th class="text-center" (click)="onSort('poc_email')">
                            POC Email 
                            <i class="bi bi-caret-up-fill" *ngIf="sortBy === 'poc_email' && order === 'asc'"></i>
                            <i class="bi bi-caret-down-fill" *ngIf="sortBy === 'poc_email' && order === 'desc'"></i>
                          </th>

                          <th class="text-center">
                            Total Delegate
                          </th>

                          <th class="text-center" (click)="onSort('ref_by')">
                            Ref by 
                            <i class="bi bi-caret-up-fill" *ngIf="sortBy === 'ref_by' && order === 'asc'"></i>
                            <i class="bi bi-caret-down-fill" *ngIf="sortBy === 'ref_by' && order === 'desc'"></i>
                          </th>
                          <th class="text-center" (click)="onSort('peacekeeper_other_name')">
                            Name 
                            <i class="bi bi-caret-up-fill" *ngIf="sortBy === 'peacekeeper_other_name' && order === 'asc'"></i>
                            <i class="bi bi-caret-down-fill" *ngIf="sortBy === 'peacekeeper_other_name' && order === 'desc'"></i>
                          </th>
                          <th class="text-right">Action</th>
                        </tr>
                    
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of sponsorships; let i=index">
                      <td class="text-center">{{ (page - 1) * limit + i + 1 }}</td>
                      <td class="text-center">{{item.sponsorship_type | titlecase}}</td>
                      <td class="text-center">{{item.sponsorship_name}}</td>
                      <td class="text-center">{{item.poc_name}}</td>
                      <td class="text-center">{{item.poc_mobile}}</td>
                      <td class="text-center">{{item.poc_email}}</td>
                      <td class="text-center">
                        <a *ngIf="item.user_count >0" style="cursor: pointer" [routerLink]="['/dashboard/registered-user']" [queryParams]="{ type: 'DELEGATE_SPONSERED', id: item.id, name:item.sponsorship_name }">
                          {{item.user_count}}
                        </a>
                      </td>
                      <td class="text-center">{{item.ref_by}}</td>
                      <td class="text-center">{{item.peacekeeper_other_name}}</td>
                      
                      <td class="text-right">
                        <div class="dropdown dropstart">
                          <button
                            class="btn btn-outline-success"
                            type="button"
                            id="dropdownMenuButton1"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                          >
                            <img
                              src="/assets/images/orangemenuicon.png"
                              id="hamburgericon"
                            />
                          </button>
                          <ul
                            class="dropdown-menu"
                            aria-labelledby="dropdownMenuButton1"
                          >
                            <li>
                              <a class="dropdown-item" style="cursor: pointer" [routerLink]="['/dashboard/edit-sponsor', item.id]">
                                Edit</a
                              >
                            </li>
                            <!-- <li (click)="onActivateDeactiveToggle(item)">
                              <a class="dropdown-item" style="cursor: pointer">
                                {{item.is_active ? 'Deactivate': 'Activate'}}</a
                              >
                            </li> -->
                            <li>
                              <a class="dropdown-item" style="cursor: pointer" [routerLink]="['/dashboard/delegate-registration', item.id]">
                                Add Delegate</a
                              >
                            </li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <nav aria-label="...">
                <ul class="pagination">
                  <li class="page-item " (click)="changePage(page - 1)" [disabled]="page === 1">
                    <span class="page-link">Previous</span>
                  </li>
                  <li class="page-item" *ngFor="let p of [].constructor(totalPages); let i = index" 
                  (click)="changePage(i + 1)" 
                  [class.active]="page === i + 1" >
                  <span class="page-link">{{ i + 1 }}</span>
                  </li>
                  <li class="page-item">
                    <a class="page-link" (click)="changePage(page + 1)" [disabled]="page === totalPages">Next</a>
                  </li>
                </ul>
              </nav>
              <!-- <h5 style="text-align: center">
    <span >No Data Found</span>
    </h5> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!------------------------------------------- Page Content end ----------------------------------------->
</div>


<ng-template #noDataTemplate>
  <h5 style="text-align: center"><span >No Data Found</span></h5>
</ng-template>