:root {
  --color-orange1: #f78c12;
  --color-red1: rgb(212, 12, 12);
}

#userimg {
  width: 22px;
  height: 21px;
  margin-bottom: 12px;
}
#exportcolmd {
  text-align: right;
}
#exportbtn {
  background-color: #093f41;
  color: white;
}
#addredbtn {
  background-color: var(--color-red1);
  color: white;
}
#btncolor {
  background-color: #093f41;
  height: 36px;
  color: white;
}

.careticon {
  display: inline-grid;
}
#uppercard {
  /* margin-top: 30px; */
  margin-bottom: 20px;
  box-shadow: 0px 2px rgb(199, 195, 195);
}
/* #orangeline{
    color: var(--color-orange1);
} */
#inputsearch {
  height: 36px;
}
#outermargin {
  margin-bottom: 20px;
}
#hamburgericon {
  width: 14px;
  height: 14px;
}
