
<div id="id01" >
      
    <form class="modal-content animate" [formGroup]="loginForm" novalidate (ngSubmit)="verify()"  method="post">
      <div class="imgcontainer">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal" [routerLink]="['/login']">&times;</span>
        <!-- <img src="assets/img/nonregisteruse.png"  [routerLink]="['/login']"> -->
      </div>
      
      <div class="container">
        <div class="card-body">
            <div class="pt-4 pb-2">
              <h5 class="card-title text-center pb-0 fs-4">Create New Password</h5>
              <!-- <p class="text-center small">Enter your code here</p> -->
            </div>
           
              <div class="col-12">
                <label for="code" class="form-label"><b>Enter code </b></label><span style="color:red;">*</span>
                <div class="input-field">
                  <input type="input" class="form-control" formControlName="otp" minlength="6" maxlength="6" (keypress)="keyPressNumbers($event)" [ngClass]="{errors:getcontrol('email')?.errors && getcontrol('email')?.touched}">
                  <!-- <span class="input-group-text">
                    <i class="fa fa-icon-name"></i>
                  </span> -->
                </div>
                <div *ngIf="getcontrol('otp')?.errors && getcontrol('otp')?.touched">
                  <small class="text-danger" *ngIf="getcontrol('otp')?.errors?.['required']">OTP is required.</small>
                  <small class="text-danger" *ngIf="getcontrol('otp')?.errors?.['minlength']">Please enter a 6 digit.</small>
                </div>
                <!-- <div *ngIf="loginForm.get('code')?.invalid && loginForm.get('code')?.touched" class="invalid-feedback">
                  Code is required.
                </div> -->
              </div>
              <div class="col-12">
                <label for="newPassword" class="form-label"><b> Enter New Password </b></label><span style="color:red;">*</span>
                <div class="input-group input-field ">
                    <input type="password" [type]="type" class="form-control input-field" formControlName="password" maxlength="20">
                    <span (click)="hideShowPass()" class=" fa {{eyeIcon}}" style="position: absolute;
                    left: 59rem;
                    top: 12px;"></span>
                 
                </div>
                <div *ngIf="getcontrol('password')?.errors && getcontrol('password')?.touched">
                  <small class="text-danger" *ngIf="getcontrol('password')?.errors?.['required']">Password is required.</small>
                  <small class="text-danger" *ngIf="getcontrol('password')?.errors?.['pattern']">The password must contain one or more lowercase characters, numeric values, and uppercase characters.</small>
                </div>
                <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="invalid-feedback">
                  New password is required.
                </div>
              </div>
              <div class="col-12">
                <label for="confirmNewPassword" class="form-label"> <b> Confirm New Password</b></label><span style="color:red;">*</span>
                <div class=" input-group input-field ">
                  <input type="password" [type]="type1" class="form-control" formControlName="confirmPassword" maxlength="20">
                  <span (click)="hideShow()" class=" fa {{eyeIcon1}}" style="position: absolute;
                  left: 59rem;
                  top: 12px;"></span>
                </div>
                <div *ngIf="loginForm.get('confirmPassword')?.errors?.['passwordMismatch']" class="text-danger small">
                  Passwords do not match.
                </div>
                <div *ngIf="getcontrol('confirmPassword')?.errors && getcontrol('confirmPassword')?.touched">
                  <small class="text-danger" *ngIf="getcontrol('confirmPassword')?.errors?.['required']">Password is required.</small>
                  <small class="text-danger" *ngIf="getcontrol('confirmPassword')?.errors?.['pattern']">The password must contain one or more lowercase characters, numeric values, and uppercase characters.</small>
                </div>
                <div *ngIf="loginForm.get('confirmPassword')?.invalid && loginForm.get('confirmPassword')?.touched" class="invalid-feedback">
                  Confirm new password is required.
                </div>
              </div>
              <div class="col-12 pb-5 mt-4">

                <a ><button type="submit"  >Send-OTP</button></a>
                <!-- <button class="btn btn-primary w-100" type="submit" (click)="verify()">Verify</button> -->
              </div>
     
          </div>
      
      </div>

    
    </form>
  </div>
  
  <script>
  // Get the modal
  var modal = document.getElementById('id01');
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
  </script>