<!-- <app-login></app-login> -->
<router-outlet></router-outlet>

<div *ngIf="!(online$ | async)" class="container">

    <div class="row">

        <div class="col-md-12 mt-1">

            <div class="noInternet mt-4">

                <!--Event start-->

                
                <!-- <h4 class="my-4">Please check your internet connection or try again later !</h4> -->
                <div class="d-flex justify-content-center align-items-center">
                    <img src="assets/UIComponents/images/no_internet.svg" class="text-center mt-5" width="20%" alt="">
            
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <h4 class="my-4 text-center">
                        Please check your internet connection or try again later !
                    </h4>
                  </div>

            </div>
        </div>
    </div>
</div>

<router-outlet *ngIf="(online$ | async)"></router-outlet>


<ngx-ui-loader></ngx-ui-loader>