

  <!------------------------------------------- Sidebar start---------------------------------------------->
  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <br><br>
      <ul class="list-unstyled components mb-5">
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a routerLink="/dashboard" id="sidebarDashboard"><img src="assets/img/speedmeter.png" id="speedmeter">
            &nbsp; <span>Dashboard</span></a>
        </li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a  routerLink="/dashboard/registered-user"id="sidebarDashboard"><img src="assets/img/usericon.png" id="speedmeter">
            &nbsp;<span>Delegate Users</span></a>
        </li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a  routerLink="/dashboard/discount-coupon-master" id="sidebarDashboard"><img src="assets/img/nonregisteruse.png" id="speedmeter">
            &nbsp;<span>Discount Coupon Master</span></a>
        </li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a routerLink="/dashboard/non-registered-user" id="sidebarDashboard"><img src="assets/img/nonregisteruse.png"
              id="speedmeter">
            &nbsp; <span>Non - Approved Users </span></a>
        </li>

        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a routerLink="/dashboard/peacekeeper" id="sidebarDashboard"><img src="assets/img/usericon.png"
              id="speedmeter">
            &nbsp;<span>Peacekeeper</span></a>
        </li>

        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a routerLink="/dashboard/contact-us" id="sidebarDashboard"><img src="assets/img/usericon.png"
              id="speedmeter">
            &nbsp;<span>Contact Us</span></a>
        </li>

        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a routerLink="/login" id="sidebarDashboard">
            <i class="fa fa-sign-out" aria-hidden="true" style="font-size: 25px;"></i>&nbsp;  &nbsp;<span style="margin-top: -5px;">Logout</span></a>
        </li>
      </ul>
    </nav>
    <!------------------------------------------- Sidebar end---------------------------------------------->


