<div class="container">
  <div class="row">
    <div class="col-md-12  text-center">
      <img
        id="cent"
        class="align-item-center"
        src="assets/images/logo.gif"
        height="150px"
      />
    </div>
    <div class="col-md-12 text-center">
      <button
        id="cent1"
        onclick="document.getElementById('id01').style.display='block'"
        class="mt-4"
        style="width: auto"
      >
        Login
      </button>
    </div>
  </div>
</div>

<div id="id01" class="modal">
  <form
    class="modal-content animate"
    [formGroup]="loginForm"
    novalidate
    (ngSubmit)="postapi()"
    method="post"
  >
    <div class="imgcontainer">
      <span
        onclick="document.getElementById('id01').style.display='none'"
        class="close"
        title="Close Modal"
        >&times;</span
      >
      <!-- <img src="./assets/img/nonregisteruse.png" /> -->
    </div>

    <div class="container">
      <div class="form-group pt-3">
        <div class="input-field">
          <span class="fa fa-user p-2"></span
          ><label for="psw"><b>Email</b></label>

          <input
            type="text"
            placeholder="Email"
            formControlName="email"
            name="email"
            maxlength="40"
            [ngClass]="{
              errors:
                getcontrol('email')?.errors && getcontrol('email')?.touched
            }"
          />
        </div>
        <div
          *ngIf="getcontrol('email')?.errors && getcontrol('email')?.touched"
        >
          <small
            class="text-danger"
            *ngIf="getcontrol('email')?.errors?.['required']"
            >Email is Required.</small
          >
          <small
            class="text-danger"
            *ngIf="getcontrol('email')?.errors?.['email']"
            >Please enter valid email address.</small
          >
        </div>
        <!-- <div  *ngIf="userNameVail && userNameVail.invalid && userNameVail.touched" class="small text-danger text-start ps-3">Email is Required and Please provide a valid email address</div> -->
      </div>
      <div class="form-group pt-3">
        <div class="input-field">
          <span class="fa fa-lock p-2"></span
          ><label for="psw"><b>Password</b></label>
          <input
            [type]="type"
            placeholder="Password"
            formControlName="password"
            name="password"
            maxlength="30"
            [ngClass]="{
              errors:
                getcontrol('password')?.errors &&
                getcontrol('password')?.touched
            }"
          />
          <span
            (click)="hideShowPass()"
            style="position: relative; bottom: 42px; float: right; right: 12px"
            class=" fa {{ eyeIcon }}"
          ></span>
        </div>
        <div
          *ngIf="
            getcontrol('password')?.errors && getcontrol('password')?.touched
          "
        >
          <small
            class="text-danger"
            *ngIf="getcontrol('password')?.errors?.['required']"
            >Password Required.</small
          >
          <small
            class="text-danger"
            *ngIf="getcontrol('password')?.errors?.['pattern']"
          >
            The password must contain one or more lowercase characters numeric
            values and uppercase characters.</small
          >
        </div>
        <!-- <div  *ngIf="passwordVail && passwordVail.invalid && passwordVail.touched" class="small text-danger text-start ps-3">Password is Required.</div> -->
      </div>

      <button type="submit" [disabled]="!loginForm.valid">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember" /> Remember me
      </label>
    </div>

    <div class="container" style="background-color: #f1f1f1">
      <button
        type="button"
        onclick="document.getElementById('id01').style.display='none'"
        class="cancelbtn"
      >
        Cancel
      </button>
      <span class="psw">Forgot <a routerLink="/send-otp">password?</a></span>
    </div>
  </form>
</div>

<script>
  // Get the modal
  var modal = document.getElementById("id01");

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  };
</script>
